<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse"
          data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home
          <!--<span class="sr-only"></span>--></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/home/users" routerLinkActive="active">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/home/tasks" routerLinkActive="active">Tasks</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-5 navbar-right">
      <li class="nav-item" *ngIf="!loggedIn()">
        <a class="nav-link" routerLink="/login">Log In</a>
      </li>
      <li class="nav-item" *ngIf="!loggedIn()">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <li class="nav-item" *ngIf="loggedIn()">
        <a class="nav-link" (click)="logout()">Log Out</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
